@mainHead("jsz"){
    <style>
      span {
        border: 1px solid blue;
        padding: 0.5em;
        margin: 0.5em;
        }

        span.foo {
        border-color: green;
        }
    </style>
    <script>
        script.load('demo.click')
    </script>
}{
    <h1>Demo: click</h1>
    <p>
        <span id="foo1">hello</span>
        <span id="foo2">hi</span>
    </p>
    <hr/>
    <p>
        <span id="foo3">foo3</span>
    </p>
    <hr/>
    <p>
        <span id="foo4" class="foo">foo4</span>
        <span id="foo5" class="foo">foo5</span>
    </p>
}

