@mainHead("jsz") {
    <style>
        div.light {
            border: 1px solid black;
            margin: 0.1em;
            width: 2em;
            height: 2em;
            border-radius: 0.5em;
        }

        div.light.on {
            background-color: #ffff00;
        }

        div.light.off {
            background-color: #faf8d9;
        }
    </style>
    <script>
        script.load('demo.lightsOut');
    </script>
}{
    <h1>Demo: lightsOut</h1>
    <p>script: <a href="@routes.Assets.versioned("javascripts/demo/lightsOut.js")">demo/lightsOut.js</a></p>

    <table>
        <tr>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
        </tr>
        <tr>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
        </tr>
        <tr>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
        </tr>
        <tr>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
        </tr>
        <tr>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
            <td><div class="light"></div></td>
        </tr>
    </table>
}
