@main("jsz") {

    <h1 id="hl">jsz</h1>
    <h2>Demos:</h2>
    <ul>
        <li><a href='@routes.Demo.page("load")'>load</a>
        <li><a href='@routes.Demo.page("click")'>click</a>
        <li><a href='@routes.Demo.page("lightOut")'>lightOut</a>
        <li><a href='@routes.Demo.page("logging")'>logging</a>
    </ul>

    <h2>Tests:</h2>
    <ul>
        <li><a href='@routes.Test.page("test")'>test</a>
        <li><a href='@routes.Test.page("testCase")'>testCase</a>
        <li><a href='@routes.Test.page("testSession")'>testSession</a>
        <li><a href='@routes.Test.page("unit/testCase")'>unit.TestCase</a>
        <li><a href='@routes.Test.page("core/all")'>core.all</a>
        <li><a href='@routes.Test.page("core/array")'>core.Array</a>
        <li><a href='@routes.Test.page("core/default")'>core.default</a>
        <li><a href='@routes.Test.page("core/dollar")'>core.dollar</a>
        <li><a href='@routes.Test.page("core/isType")'>core.isType</a>
        <li><a href='@routes.Test.page("core/attributes")'>core.HTMLElement:attributes</a>
    </ul>
}
