@main("jsz") {

<h2>Demos:</h2>
<ul>
  <li><a href='@routes.Demo.page("load")'>load</a>
  <li><a href='@routes.Demo.page("click")'>click</a>
  <li><a href='@routes.Demo.page("lightsOut")'>lightsOut</a>
  <li><a href='@routes.Demo.page("logging")'>logging</a>
  <li><a href='@routes.Demo.page("testSession")'>test session with error</a>
</ul>
<ul>
  <li><a href='@routes.Demo.page("loadedScripts/preload")'>loaded scripts - preload</a>
  <li><a href='@routes.Demo.page("loadedScripts/dev")'>loaded scripts - dev</a>
</ul>

<h2>Tests:</h2>
<ul>
  <li><a href='@routes.Test.page("jsz/unit/testCase")'>jsz.unit.TestCase -
    callback</a>
</ul>
<ul>
  <li><a href='@routes.Test.page("jsz/util/timerTask")'>jsz.util.TimerTask</a>
  <li><a href='@routes.Test.page("jsz/util/format/dollar")'>jsz.util.format:dollar</a>
  <li><a href='@routes.Test.page("jsz/util/format/percent")'>jsz.util.format:percent</a> - Not fully implemented yet!
</ul>
<ul>
  <li><a href='@routes.Test.page("jsz/core/all")'>jsz.core:all</a>
  <li><a href='@routes.Test.page("jsz/core/args")'>jsz.core.args</a>
  <li><a href='@routes.Test.page("jsz/core/bind")'>jsz.core.bind</a>
  <li><a href='@routes.Test.page("jsz/core/array")'>jsz.core.Array</a>
  <li><a href='@routes.Test.page("jsz/core/default")'>jsz.core.default</a>
  <li><a href='@routes.Test.page("jsz/core/dollar")'>jsz.core.dollar</a>
  <li><a href='@routes.Test.page("jsz/core/isType")'>jsz.core.isType</a>
  <li><a href='@routes.Test.page("jsz/core/attributes")'>jsz.core.HTMLElement:attributes</a>
  <li><a href='@routes.Test.page("jsz/core/json")'>jsz.core.JSON</a>
</ul>
<ul>
  <li><a href='@routes.Test.page("jsz/httpRequest")'>jsz.HttpRequest</a>
  <li><a href='@routes.Test.page("itemStore")'>jsz.HttpRequest - item store</a>
</ul>
<ul>
  <li><a href='@routes.Test.page("jsz/observer")'>jsz.Observer</a>
  <li><a href='@routes.Test.page("jsz/observer/snapshot")'>jsz.Observer:snapshot</a>
</ul>
}
