@main("jsz") {

    <h2>Demos:</h2>
    <ul>
        <li><a href='@routes.Demo.page("load")'>load</a>
        <li><a href='@routes.Demo.page("click")'>click</a>
        <li><a href='@routes.Demo.page("lightOut")'>lightOut</a>
        <li><a href='@routes.Demo.page("logging")'>logging</a>
        <li><a href='@routes.Demo.page("testSession")'>test session with error</a>
    </ul>

    <h2>Tests:</h2>
    <ul>
        <li><a href='@routes.Test.page("jsz/unit/testCase")'>jsz.unit.TestCase - callback</a>
    </ul>
    <ul>
        <li><a href='@routes.Test.page("jsz/util/timerTask")'>jsz.util.TimerTask</a>
        <li><a href='@routes.Test.page("jsz/util/format")'>jsz.util.format</a>
    </ul>
    <ul>
        <li><a href='@routes.Test.page("core/all")'>core.all</a>
        <li><a href='@routes.Test.page("core/args")'>core.args</a>
        <li><a href='@routes.Test.page("core/array")'>core.Array</a>
        <li><a href='@routes.Test.page("core/default")'>core.default</a>
        <li><a href='@routes.Test.page("core/dollar")'>core.dollar</a>
        <li><a href='@routes.Test.page("core/isType")'>core.isType</a>
        <li><a href='@routes.Test.page("core/attributes")'>core.HTMLElement:attributes</a>
        <li><a href='@routes.Test.page("core/json")'>test.jsz.core.JSON</a>
    </ul>
    <ul>
        <li><a href='@routes.Test.page("http")'>Http</a>
        <li><a href='@routes.Test.page("itemStore")'>jsz.HttpRequest itemStore.items</a>
    </ul>
}
